.container_small-card {
  width: 70vh;
  margin-bottom: 1rem;
}

.container_small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card_photo > img {
  width: 25vh;
  height: 15vh;
  margin-right: 1rem;
}

.small-card_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}

.container_small-card_separator{
  margin-top: 0rem;
}
