.container_content {
  width: 100vw;
  height: 80vh;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_content > a {
  font-size: 2rem;
}
.container_content > a > i {
  font-size: 2.5rem;
  vertical-align: -0.13em;
}

.container_content > a > i:hover {
  color: red;
}

.content_cover > img {
  border: 5px solid rgb(105, 104, 104);
  border-radius: 1rem;
  width: 65vh;
}

.content_title > h1 {
  margin-top: 1rem;
}

.content_description {
  margin-top: 1rem;
}

.content_description > p {
  margin-top: 1.5rem;
  color: gray;
  text-align: center;
  width: 100vh;
}

@media (max-width: 853px) {
  .container_content {
    width: 90vw;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid red;
    text-align: center;
  }
  .content_title > h1 {
    font-size: 1.5rem;
  }
  .container_content > a {
    font-size: 2rem;
  }
  .container_content > a > i {
    font-size: 2.5rem;
    vertical-align: -0.13em;
  }
  .content_cover > img {
    width: 40vh;
  }
  .content_description {
    border: 1px solid yellow;
  }
  .content_description > p {
    margin-top: 1.5rem;
    width: 80vw;
  }
}
