<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      Id="1"
      photoCover="https://i.ytimg.com/vi/mVjYG9TSN88/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGH8gEyhWMA8=&rs=AOn4CLAd8M7O1rK30HRH-9RXrVAjhjqCOA"
      cardTitle="Angular New Version"
      cardDescription="O Angular 12.0 trouxe várias melhorias e recursos novos, focando principalmente em aprimoramentos de desempenho, experiência do desenvolvedor e facilidade de atualização. Aqui está um resumo das principais novidades"
    >
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      Id="2"
      photoCover="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-rodar-testes-e-checar-o-codigo_38248.png"
      cardTitle="Angular Version V11.0"
    ></app-small-card>

    <app-small-card
      Id="3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmR8DRTxxOATALcanOfYMltAGTZ0Jp1b91ww&usqp=CAU"
      cardTitle="Angular Version V10.0"
    ></app-small-card>

    <app-small-card
      Id="4"
      photoCover="https://angular-academy.s3.amazonaws.com/thumbnails/advanced_angular-small-v3.png"
      cardTitle="Angular Version V09.0"
    ></app-small-card>
  </div>
</div>
